<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.knjizara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/knjizara"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".ServicePlacanje"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.KategorijaActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.PlacanjeActivity"
            android:hardwareAccelerated="false"
            android:label="PLACANJE"
            android:largeHeap="true"
            android:parentActivityName=".activity.KorisnikInfoActivity" />
        <activity
            android:name=".activity.KorisnikInfoActivity"
            android:parentActivityName=".activity.KorpaActivity"
            android:theme="@style/KorisnikInfo" />
        <activity
            android:name=".activity.KorpaActivity"
            android:label="@string/nista" />
        <activity
            android:name=".activity.MojeKnjigeActivity"
            android:label="@string/nista" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/nista">

        </activity>
        <activity
            android:name=".activity.KnjigaDetail"
            android:label="@string/knjiga"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/KnjigaDetail">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>