<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.knjizara">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/knjizara"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PopUpMojeKnjige"
            android:theme="@style/PopUpActivity"></activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.FakeNotificationActivity"
            android:theme="@style/PseudoNotificationActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.KategorijaActivity"
            android:parentActivityName=".activity.KnjigaDetail" />
        <activity
            android:name=".activity.PlacanjeActivity"
            android:hardwareAccelerated="false"
            android:label="PLACANJE"
            android:largeHeap="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.KorisnikInfoActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/KorisnikInfo" />
        <activity
            android:name=".activity.KnjigaDetail"
            android:label="@string/knjiga"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/KnjigaDetail">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>